.arena{
    border: solid black 1px;
    width: 50%; height: 300px;
    

}



/* Liste de personnage */
#characterList{
    border: 1px solid purple;
    text-align: right;
    width: 20%;
}

#characterList ul{
    list-style: none;
    margin: 10px 0px;

}

#characterList > ul{
    margin: 20px 15px;
}