.arena{
    border: solid black 1px;
    width: 50%; height: 300px;
    

}

.arena{
    border: solid black 1px;
    width: 50%; height: 300px;
    background-size: cover;

}
/* Debut code creation de perso */
form{
    margin-top: 10px;
    border: solid black 1px;
   width:50%;
   text-align: center;
   background:url("../img/img-arene/background-creation.jpg") center/cover no-repeat;
   padding-bottom: 10px;

}
form div {
    margin-top : 10px;

}

form div input, form div select{
    margin:5px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.8;
}

form div button{
    padding: 10px;
    border-radius: 90px;
}

/* Liste de personnage */
#characterList{
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/img-arene/background-affichage-perso.jpg") ;
    background-size: cover;
    text-align: right;
    width: 20%;
    height: 300px;
    overflow: auto;
}

#characterList ul{
    list-style: none;
    margin: 10px 0px;
}

#characterList > ul{
    margin: 20px 15px;
}

